In [70]:
import json  
import pandas as pd  
from pandas.io.json import json_normalize

In [71]:
#get air quality data
air=pd.read_csv('Resources/waqi-covid19-airqualitydata-2020.csv')
air.head()

        Date Country     City      Specie  count  min  max  median  variance
0   2/2/2020      KG  Bishkek  wind speed     24  0.2  4.6     2.5     13.48
1   3/3/2020      KG  Bishkek  wind speed      2  2.5  3.6     2.5      6.05
2  3/18/2020      KG  Bishkek  wind speed     24  0.5  4.6     3.0     13.30
3  3/26/2020      KG  Bishkek  wind speed     24  0.2  3.6     2.5      7.60
4   1/3/2020      KG  Bishkek  wind speed     12  0.2  2.5     1.0      4.25

In [72]:
#only pm25 data
pm25=air['Specie']=='pm25'
air2=air[pm25]
air2.to_csv('2020_pm25.csv')
air2.head()

In [73]:
#read in json and convert to dataframe and clean up
d=pd.read_json('Resources/cities.json')
geo = json_normalize(d['data']) 
geo = geo.rename(columns={"Place.geo": "Coords", "Place.feature": "Feature", "Place.name":"City","Place.country":"Country", "Place.pop":"Pop"})
geo[['Lat','Lon']] = pd.DataFrame(geo.Coords.values.tolist(), index= geo.index)
geo = geo[['City','Country','Pop', 'Lat', 'Lon']]
geo.to_csv('geo_data.csv')
geo.head()

               City Country     Pop       Lat       Lon
0           Bishkek      KG  900000  42.87000  74.59000
1         PloieÅŸti      RO  228851  44.95000  26.01667
2           Craiova      RO  304142  44.31667  23.80000
3            BacÄƒu      RO  171396  46.56718  26.91384
4  RÃ¢mnicu VÃ¢lcea      RO  107558  45.10000  24.36667

In [74]:
#
together = pd.merge(air2,geo)
together.to_csv('2020_combined.csv')
together.head()

,Date,Country,City,Specie,count,min,max,median,variance,Pop,Lat,Lon
0,1/9/2020,KG,Bishkek,pm25,24,91.0,262.0,147.0,22208.70,900000,42.87,74.59
1,2/21/2020,KG,Bishkek,pm25,23,17.0,173.0,154.0,27144.50,900000,42.87,74.59
2,1/8/2020,KG,Bishkek,pm25,24,68.0,169.0,114.0,9949.78,900000,42.87,74.59
3,2/25/2020,KG,Bishkek,pm25,24,5.0,137.0,30.0,12249.30,900000,42.87,74.59
4,2/29/2020,KG,Bishkek,pm25,24,74.0,173.0,132.0,10091.00,900000,42.87,74.59