In [1]:
#dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
# Read the csv file into a pandas DataFrame

df = pd.read_csv('covid-19-total-confirmed-cases-vs-total-confirmed-deaths.csv')
df.head()

,Entity,Code,Date,Total confirmed deaths due to COVID-19 (deaths),Total confirmed cases of COVID-19 (cases)
0,Afghanistan,AFG,"Feb 25, 2020",NaN,1
1,Afghanistan,AFG,"Feb 26, 2020",NaN,1
2,Afghanistan,AFG,"Feb 27, 2020",NaN,1
3,Afghanistan,AFG,"Feb 28, 2020",NaN,1
4,Afghanistan,AFG,"Feb 29, 2020",NaN,1

In [4]:
pokemon_type = pokemon_pd[["Type 1", "HP", "Attack",
                           "Defense", "Sp. Atk", "Sp. Def", "Speed"]]
pokemon_type.head()

SyntaxError: invalid syntax (<ipython-input-4-99d9c9badf70>, line 2)