In [14]:
import json  
import pandas as pd  
from pandas.io.json import json_normalize

In [15]:
#get air quality data
air=pd.read_csv('../Resources/waqi-covid19-airqualitydata-2020.csv')
air.head()

,Date,Country,City,Specie,count,min,max,median,variance
0,2020-01-07,ET,Addis Ababa,wind speed,23,1.0,8.7,4.6,53.37
1,2020-01-27,ET,Addis Ababa,wind speed,11,2.0,5.1,3.0,7.39
2,2020-02-06,ET,Addis Ababa,wind speed,15,1.0,8.2,5.0,50.14
3,2020-03-15,ET,Addis Ababa,wind speed,13,1.0,6.1,3.0,19.81
4,2020-01-06,ET,Addis Ababa,wind speed,17,2.5,7.2,4.6,15.16

In [16]:
#only pm25 data
pm25=air['Specie']=='pm25'
air2=air[pm25]
air2.to_csv('../2020_pm25.csv')
air2.head()

,Date,Country,City,Specie,count,min,max,median,variance
215,2020-01-26,ET,Addis Ababa,pm25,24,50.0,156.0,76.0,9071.23
216,2020-04-02,ET,Addis Ababa,pm25,24,38.0,80.0,61.0,869.55
217,2020-02-19,ET,Addis Ababa,pm25,24,30.0,139.0,57.0,6169.84
218,2020-01-28,ET,Addis Ababa,pm25,24,25.0,102.0,57.0,3661.67
219,2020-02-04,ET,Addis Ababa,pm25,24,55.0,142.0,68.0,3896.45

In [17]:
#read in json and convert to dataframe and clean up
d=pd.read_json('../Resources/cities.json')
geo = json_normalize(d['data']) 
geo = geo.rename(columns={"Place.geo": "Coords", "Place.feature": "Feature", "Place.name":"City","Place.country":"Country", "Place.pop":"Pop"})
geo[['Lat','Long']] = pd.DataFrame(geo.Coords.values.tolist(), index= geo.index)
geo = geo[['City','Country','Pop', 'Lat', 'Long']]
geo.to_csv('../geo_data.csv')
geo.head()

               City Country     Pop       Lat      Long
0           Bishkek      KG  900000  42.87000  74.59000
1         PloieÅŸti      RO  228851  44.95000  26.01667
2           Craiova      RO  304142  44.31667  23.80000
3            BacÄƒu      RO  171396  46.56718  26.91384
4  RÃ¢mnicu VÃ¢lcea      RO  107558  45.10000  24.36667

In [18]:
#merge
together = pd.merge(air2,geo)
together.to_csv('../2020_combined.csv')
together.head()

,Date,Country,City,Specie,count,min,max,median,variance,Pop,Lat,Long
0,2020-01-26,ET,Addis Ababa,pm25,24,50.0,156.0,76.0,9071.23,2757729,9.02497,38.74689
1,2020-04-02,ET,Addis Ababa,pm25,24,38.0,80.0,61.0,869.55,2757729,9.02497,38.74689
2,2020-02-19,ET,Addis Ababa,pm25,24,30.0,139.0,57.0,6169.84,2757729,9.02497,38.74689
3,2020-01-28,ET,Addis Ababa,pm25,24,25.0,102.0,57.0,3661.67,2757729,9.02497,38.74689
4,2020-02-04,ET,Addis Ababa,pm25,24,55.0,142.0,68.0,3896.45,2757729,9.02497,38.74689