In [21]:
import json  
import pandas as pd  
from pandas.io.json import json_normalize

In [22]:
#get air quality data
air=pd.read_csv('../Resources/airdata.csv')
air.head()

,Unnamed: 0,Date,Country,City,Specie,count,min,max,median,variance
0,37841,2019-10-02,US,Raleigh,pm25,71,5.0,80.0,57.0,1521.78
1,37842,2019-10-19,US,Raleigh,pm25,72,13.0,63.0,38.0,1729.17
2,37843,2019-11-05,US,Raleigh,pm25,70,17.0,55.0,38.0,856.36
3,37844,2019-11-07,US,Raleigh,pm25,68,9.0,63.0,42.0,1090.18
4,37845,2019-12-02,US,Raleigh,pm25,62,5.0,42.0,13.0,1095.94

In [23]:
#only pm25 data
pm25=air['Specie']=='pm25'
air2=air[pm25]
air2.to_csv('../2020_pm25.csv')
air2.head()

,Unnamed: 0,Date,Country,City,Specie,count,min,max,median,variance
0,37841,2019-10-02,US,Raleigh,pm25,71,5.0,80.0,57.0,1521.78
1,37842,2019-10-19,US,Raleigh,pm25,72,13.0,63.0,38.0,1729.17
2,37843,2019-11-05,US,Raleigh,pm25,70,17.0,55.0,38.0,856.36
3,37844,2019-11-07,US,Raleigh,pm25,68,9.0,63.0,42.0,1090.18
4,37845,2019-12-02,US,Raleigh,pm25,62,5.0,42.0,13.0,1095.94

In [24]:
#read in json and convert to dataframe and clean up
d=pd.read_json('../Resources/cities.json')
geo = json_normalize(d['data']) 
geo = geo.rename(columns={"Place.geo": "Coords", "Place.feature": "Feature", "Place.name":"City","Place.country":"Country", "Place.pop":"Pop"})
geo[['Lat','Long']] = pd.DataFrame(geo.Coords.values.tolist(), index= geo.index)
geo = geo[['City','Country','Pop', 'Lat', 'Long']]
geo.to_csv('../geo_data.csv')
geo.head()

               City Country     Pop       Lat      Long
0           Bishkek      KG  900000  42.87000  74.59000
1         PloieÅŸti      RO  228851  44.95000  26.01667
2           Craiova      RO  304142  44.31667  23.80000
3            BacÄƒu      RO  171396  46.56718  26.91384
4  RÃ¢mnicu VÃ¢lcea      RO  107558  45.10000  24.36667

In [25]:
#merge
together = pd.merge(air2,geo)
together.to_csv('../2020_combined.csv')
together.head()

,Unnamed: 0,Date,Country,City,Specie,count,min,max,median,variance,Pop,Lat,Long
0,37841,2019-10-02,US,Raleigh,pm25,71,5.0,80.0,57.0,1521.78,451066,35.7721,-78.63861
1,37842,2019-10-19,US,Raleigh,pm25,72,13.0,63.0,38.0,1729.17,451066,35.7721,-78.63861
2,37843,2019-11-05,US,Raleigh,pm25,70,17.0,55.0,38.0,856.36,451066,35.7721,-78.63861
3,37844,2019-11-07,US,Raleigh,pm25,68,9.0,63.0,42.0,1090.18,451066,35.7721,-78.63861
4,37845,2019-12-02,US,Raleigh,pm25,62,5.0,42.0,13.0,1095.94,451066,35.7721,-78.63861