In [1]:
import json  
import pandas as pd  
from pandas.io.json import json_normalize

In [3]:
#get air quality data
air=pd.read_csv("../Resources/includes2019.csv")
air.head()

,Unnamed: 0,Date,Country,City,Specie,count,min,max,median,variance
0,0,2019-11-02,HU,Debrecen,o3,72,1.9,12.2,7.0,59.60
1,1,2019-11-11,HU,Debrecen,o3,66,0.6,15.2,7.1,151.12
2,2,2019-11-12,HU,Debrecen,o3,65,2.3,18.9,12.0,193.29
3,3,2019-12-22,HU,Debrecen,o3,45,11.3,24.1,18.6,110.54
4,4,2020-01-05,HU,Debrecen,o3,34,1.6,26.4,16.7,586.81

In [ ]:
#only pm25 data
pm25=air['Specie']=='pm25'
air2=air[pm25]
air2.to_csv('../2020_pm25.csv')
air2.head()

In [ ]:
#read in json and convert to dataframe and clean up
d=pd.read_json('../Resources/cities.json')
geo = json_normalize(d['data']) 
geo = geo.rename(columns={"Place.geo": "Coords", "Place.feature": "Feature", "Place.name":"City","Place.country":"Country", "Place.pop":"Pop"})
geo[['Lat','Long']] = pd.DataFrame(geo.Coords.values.tolist(), index= geo.index)
geo = geo[['City','Country','Pop', 'Lat', 'Long']]
geo.to_csv('../geo_data.csv')
geo.head()

In [ ]:
#merge
together = pd.merge(air2,geo)
together.to_csv('../2020_combined.csv')
together.head()