In [8]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd

In [21]:
air = pd.read_csv("../Resources/airdata.csv")
air = air.drop(columns = {"Unnamed: 0"})
air.head()

         Date Country     City Specie  count   min   max  median  variance
0  2019-10-02      US  Raleigh   pm25     71   5.0  80.0    57.0   1521.78
1  2019-10-19      US  Raleigh   pm25     72  13.0  63.0    38.0   1729.17
2  2019-11-05      US  Raleigh   pm25     70  17.0  55.0    38.0    856.36
3  2019-11-07      US  Raleigh   pm25     68   9.0  63.0    42.0   1090.18
4  2019-12-02      US  Raleigh   pm25     62   5.0  42.0    13.0   1095.94

In [20]:
data = air.copy()

from sklearn.preprocessing import LabelEncoder

# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y)
encoded_y = label_encoder.transform(y)

,Date,Country,Specie,count,min,max,median,variance,City_Beijing,City_Boston,...,City_Hong Kong,City_Houston,City_London,City_Milan,City_Mumbai,City_Raleigh,City_Rome,City_San Francisco,City_Santiago,City_Wuhan
0,2019-10-02,US,pm25,71,5.0,80.0,57.0,1521.78,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2019-10-19,US,pm25,72,13.0,63.0,38.0,1729.17,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2019-11-05,US,pm25,70,17.0,55.0,38.0,856.36,0,0,...,0,0,0,0,0,1,0,0,0,0
3,2019-11-07,US,pm25,68,9.0,63.0,42.0,1090.18,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2019-12-02,US,pm25,62,5.0,42.0,13.0,1095.94,0,0,...,0,0,0,0,0,1,0,0,0,0